<%= flash[:success] if flash[:success] %>
<h1><%= @kitten.name %></h1>

Age: <%= @kitten.age %><br>
Cuteness level: <%= @kitten.cuteness %><br>
Softness level: <%= @kitten.softness %><br>
<br>
<%= link_to "Kill this poor kitten", @kitten, method: :delete %>